PORT=5000

CUSTOMER_SERVICE_URL=http://localhost:5001
MENU_SERVICE_URL=http://localhost:5002
ORDER_SERVICE_URL=http://localhost:5003
PAYMENT_SERVICE_URL=http://localhost:5004
RESERVATION_SERVICE_URL=http://localhost:5005
